In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

dir = os.path.dirname(os.path.realpath(__name__))
file = os.path.join(dir, 'titanic_cleaned.csv')

titanic = pd.read_csv(file, encoding='utf-8', delimiter=',')
titanic.head(10)

   Survived  Pclass  Sex        Age     Fare  Family_cnt  Cabin_ind
0         0       3    0  22.000000   7.2500           1          0
1         1       1    1  38.000000  71.2833           1          1
2         1       3    1  26.000000   7.9250           0          0
3         1       1    1  35.000000  53.1000           1          1
4         0       3    0  35.000000   8.0500           0          0
5         0       3    0  29.699118   8.4583           0          0
6         0       1    0  54.000000  51.8625           0          1
7         0       3    0   2.000000  21.0750           4          0
8         1       3    1  27.000000  11.1333           2          0
9         1       2    1  14.000000  30.0708           1          0

### Split into Train, Validation and Test Set

In [6]:
from cProfile import label


features = titanic.drop('Survived', axis=1)
labels = titanic['Survived']

# Features [X] and Labels [Y] will have 60% of train and 40% rest
X_train, X_test, y_train, y_test = train_test_split(
    features, labels, test_size=0.4, random_state=42)

# Validation and Test sets will both take 50% of the test data set
X_val, X_test, y_val, y_test = train_test_split(
    X_test, y_test, test_size=0.5, random_state=42)

# Confirm split
for dataset in [y_train, y_val, y_test]:
    print(round(len(dataset) / len(labels), 2))

0.6
0.2
0.2